@mixin headerButtons ($width, $marginLeft, $textAlign, $backgroundColor) {
	width: $width;
	margin-left: $marginLeft;
	text-align: $textAlign;
	background-color: $backgroundColor;
	border-radius: $borderRadius;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin positioning {
	// @include size($width, $height);
	// @include directionOffset ($direction, $offset);
	content: "";
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: url(../images/sprite.png) no-repeat;
	position: absolute;
}

// @mixin directionOffset ($direction, $offset) {
// 	@if $direction == 'up' {
// 		bottom: $offset;
// 	} @else if $direction == 'down' {
// 		top: $offset;
// 	}
// }