$bodyFontSize: 16px;
$colorText: #000;
$bodyBg: #fff;
// $paragraphText: 1.5em/2.25em 'Conv_Roboto-Light[1]';
// $linkText:  0.875em/2em 'Conv_Roboto-Regular[1]';
$myShadow: 12px 3px 1px 0 #fff;
$bgColor: #e8ebf1;
$linkBgColor: #2c715b;
$borderRadius: 3px;
$colorLink: #2aacc8;