* {
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	color: $colorText;
	font-size: $bodyFontSize;
	line-height: 1.2em;
	font-family: 'Lato-Regular';
	background: $bodyBg;
}
a {
	text-decoration: none;
	color: #000;
}
strong {
	font-family: 'Lato-Bold';
}
li {
	list-style: none;
}
