.container-description {
	width: 100%;
	margin-bottom: 39px;
	&__holder {
		border-top: 1px solid #dfe1e5;
	}
	&__test {
		width: 48%;
	}
	&__h2-img6 {
		background: url(../images/img6.png) 0 65% no-repeat;
		padding: 24px 0 12px 39px;
	}
	&__h2-img7 {
		background: url(../images/img7.png) 0 46% no-repeat;
		padding: 24px 0 18px 39px;
	}
	&__p {
		width: 88.75%;
		color: #363636;
		font-size: calcFontSize(14px);
		line-height: 24px;
		letter-spacing: 0.1px;
	}
	&__p-italic {
		padding: 24px 0 0 0;
		font-family: 'Lato-Black';
		font-style: italic;
	}
	&__clients {
		width: 48%;
	}
	&__clients-block {
		display: flex;
		flex-wrap: wrap;
	}
	&__client {
		width: 160px;
		height: 100px;
		border: 1px solid #e8ebf1;
		position: relative;
		box-shadow: inset 0px 0px 5px 3px rgba(246,247,249,1);
	} 
	&__img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}