.holder {
	width: 100%;
	max-width: 1000px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.blue-img {
	position: absolute;
	display: block;
	bottom: -84px;
	left: 0;
	transition: 0.4s linear;
}
.view {
	position: absolute;
	top: 28px;
	left: 69px;
	opacity: 0;
	transition: 1s linear;
}
.share {
	position: absolute;
	top: 27px;
	right: 62px;
	opacity: 0;
	transition: 1s linear;
}