.header {	
	width: 100%;
	background: $bgColor; 
	&__logo-link {
		display: block;
		width: 136px;
		height: 33px;
		background: url('../frontend/images/logo.png') no-repeat;
		text-indent: -9999px;
	}
	&__nav {
		position: relative;
		display: flex;
		font: $linkText;
		.header__nav-link {
			height: 30px;
			margin: 3px 0 0 35px;
		}
		.sign-up {
			@include headerButtons (193px, 42px, center, #f7cb00)
		}
		.sign-in {
			@include headerButtons (75px, 10px, center, $linkBgColor)
			color: #fff;
		}
	}
	&__nav:after {
		content: "";
		width: 80px;
		height: 240px;
		position: absolute;
		top: -77px;
		left: -84px;
		background: url('../frontend/images/whistle.png') no-repeat;
		z-index: 1;
	}
}