.instructions {
	display: flex;
	justify-content: space-around;
	max-width: 1360px;
	width: 100%;
	margin: 0 auto;
	padding: 120px 80px 80px;
	&__image {
		width: 320px;
		margin: 22px 0 0 0;
	}
	&__text {
		width: 450px;
	}
	&__item {
		position: relative;
		margin: 0 0 99px 0;
	}
	.item3 { 
		margin: 0 0 63px 0;
	}
	.item4 {
		margin: 0 0 23px 0; 
	}
	.item1:after {
		@include positioning ('down', -57px, 78px, 42px, 107px, '../frontend/images/instructions-item1.png') 
	}
	.item2:after {
		@include positioning ('down', -57px, 53px, 73px, 108px, '../frontend/images/instructions-item2.png')
	}
	.item3:after {
		@include positioning ('down', -57px, 57px, 69px, 109px, '../frontend/images/instructions-item3.png')
	}
	.item4:after {
		@include positioning ('down', -56px, 51px, 78px, 107px, '../frontend/images/instructions-item4.png')
	}
}
