.swiper-container {
	height: 640px !important;
	margin: 0 auto 80px !important;
	background-color: #f7f1f1;
}
.swiper-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	position: relative;
}
.swiper-text { 
	position: absolute;
	top: 48px;
	left: 157px;
}
.swiper-scrollbar-drag {
	width: 360px !important;
	background-color: #f7cb00 !important;
}
.swiper-slide {
	position: relative;
}
.slide1 {
	width: 458px;
	margin: 0 0 0 2px;
}
.slide2 {
	width: 602px;
}
.slide3 {
	width: 696px;
}
.slide4 {
	width: 452px;
}
.slide5 {
	width: 626px;
}
.slide6 {
	width: 760px;
}
.slide7 {
	width: 425px;
	padding: 240px 0 0 0;
}
.slide-img {
	position: absolute;
	z-index: 1;
}
.text-box {
	display: block;
	position: absolute;
	padding: 12px 20px 18px;
	color: #fff;
	font-size: calcFontSize(12px);
	line-height: 1.5em;
	background-color: #0d221b;
	border-radius: 3px;
}
.text-box:before {
	content: "";
	width: 5px;
	height: 5px;
	position: absolute;
	bottom: -9px;
	left: -10px;
	background: url(../frontend/images/dot.png) no-repeat;
}
.text-box1 {
	top: 31.3%;
	left: 77.6%;
	width: 160px;
}
.text-box1:after {
	@include positioning ('up', 10px, 9px, 21px, 21px, '../frontend/images/text-box-after1.png');
}
.text-box2 {
	top: 18.6%;
	left: 46%;
	width: 260px;
}
.text-box2:after {
	@include positioning ('up', 10px, 9px, 21px, 21px, '../frontend/images/text-box-after2.png');
}
.text-box3 {
	top: 74.2%;
	left: -185px;
	width: 180px;
}
.text-box3:before {
	content: "";
	top: -7px;
	left: 185px;
}
.text-box3:after {
	@include positioning ('up', 10px, 9px, 21px, 21px, '../frontend/images/text-box-after3.png');
}
.text-box4 {
	top: 109px;
	right: 91px;
	width: 180px;
}
.text-box4:after {
	@include positioning ('up', 10px, 9px, 21px, 21px, '../frontend/images/text-box-after4.png');
}
.text-box5 {
	bottom: 44px;
	left: -111px;
	width: 180px;
}
.text-box5:before {
	content: "";
	top: -9px;
	left: 185px;
}
.text-box5:after {
	@include positioning ('up', 10px, 9px, 21px, 21px, '../frontend/images/text-box-after5.png');
}
.text-box6 {
	bottom: 44px;
	left: -62px;
	width: 190px;
}
.text-box6:before {
	top: -7px;
	left: 195px;
}
.text-box6:after {
	@include positioning ('up', 10px, 9px, 21px, 21px, '../frontend/images/text-box-after6.png');
}
.text-box7 {
	top: 80px;
	right: -40px;
	width: 260px;
}
.text-box7:after {
	@include positioning ('up', 10px, 9px, 21px, 21px, '../frontend/images/text-box-after7.png');
}
.text-box8 {
	bottom: 76px;
	left: -90px;
	width: 260px;
}
.text-box8:before {
	top: 90px;
	left: 266px;
}
.text-box8:after {
	@include positioning ('up', 10px, 9px, 21px, 21px, '../frontend/images/text-box-after8.png');
}