.slider {
	background-color: #81e4ed;
	padding: 20px 0 0 0;
	background: #7db9e8;
	background: -webkit-linear-gradient(#7db9e8 0, #81e4ed 3px);
	background: -o-linear-gradient(#7db9e8 0, #81e4ed 3px);
	background: linear-gradient(#7db9e8 0, #81e4ed 3px); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#81e4ed',GradientType=0 );
	&__img {
		display: block;
		width: 100%;
	}
	&__text-box {
		position: absolute;
		top: 92px;
		left: 62px;
		font-size: calcFontSize(50px);
		line-height: 60px;
		font-family: 'Lato-Bold';
		color: #fff;
		width: 300px;
	}
}				
.swiper-slide {
	position: relative;
	padding: 0 0 40px 0;
}
.swiper-pagination-bullets {
	bottom: 11px !important;
}
.swiper-pagination-bullet {
	width: 14px;
	height: 14px;
	margin: 0 9px !important;
}
.swiper-pagination-bullet-active {
	background-color: #fff;
}